[submodule "pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git

[submodule "benchmark"]
	path = ext/benchmark
	url = git://github.com/google/benchmark.git

[submodule "cpu_features"]
	path = ext/cpu_features
	url = git://github.com/google/cpu_features.git

[submodule "Catch2"]
	path = ext/Catch2
	url = git://github.com/catchorg/Catch2.git
